<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/consulta_madera.css">
    <title>Madera</title>
</head>
<body>
    <div class="header"> 
        <img src="/img/logo.png" class="logo">
        <h2 class="head">Artesanías las Américas.co</h2>
        <img src="/img/check.png" class="user">
        <h2 class="texto">Madera </h2>
        <div class="buscador">
            <img src="/img/buscar.png" width="45px" height="45px" class="lupa">
        </div>
    </div>
    <h2 class="title">Madera</h2>
    <table>
        <tr>
             <th>Codigo</th>
             <th>Nombre</th>
             <th>descripcion</th>
             <th>Valor</th>
             <th>Stock</th>
             <th>Estado</th>
             <th>Proveedor</th>
             <th>Actualizar</th>
             <th>Eliminar</th>
        </tr>
        <% producto.forEach(productos => {
         %>
         <tr>
            <td><%=productos.pk_codigo_pdto%></td>
            <td><%=productos.nombre_pdto%></td>
            <td><%=productos.desc_pdto%></td>
            <td><%=productos.valor_pdto%></td>
            <td><%=productos.stock%></td>
            <td><%=productos.estado%></td>
            <td><%=productos.proveedor%></td>
            <td><a href="/actualizarProducto"><img src="/img/lapiz.png" width="50px" height="50px"></a></td>
            <td><a href="/eliminarProducto"><img src="/img/equis.png" width="50px" height="50px"></a></td>
         </tr>
             <% 
         });
          %>
     </table>
</body>
<div class="footer">
    <p class="marca">Desarollado por @DevJs32</p>
    <p class="contactos">Correo: </p>
    <p class="correo"> Artesanias_Americas@gmail.com</p>
    <p class="telefono"> WhatsApp: 3223562765</p>
</div>
</html>