<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/consultaPiedraComprador.css">
    <title>Document</title>
</head>
<body>
    <header> 
        <h2 class="head">Artesanías las Américas.co</h2>
    </header>
    <h1>Piedra</h1>
    <% for (let i=0; i<lista.length;i++) { %>
    <div>
        <p class="nombre_producto"><%=lista[i].nombre%></p>
     <div class="img"></div>
        <table>
            <tr>
                <td>Descripcion :</td>
                <td><%=lista[i].descripcion%></td>
            </tr>
            <tr>
                <td>Stock :</td>
                <td><%=lista[i].stock%> unidades</td>
            </tr>
            <tr>
                <td>Estado :</td>
                <td><%=lista[i].estado%></td>
            </tr>
            <tr>
                <td>Proveedor :</td>
                <td><%=lista[i].proveedor%></td>
            </tr>
        </table>
        <p class="precios">$<%=lista[i].valor%></p>
              <tr>
                 <td><a href="#">Agregar al carrito</a></td>
                 <td><a href="#">Separar</a></td>
                 <td><a href="/personalizarPiedra">Personalizar</a></td>
             </tr>
    </div>
    <% } %>
</body>
</html>