<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/consulta_compras.css">
    <title>Compras</title>
</head>
<body>
    <div class="header"> 
        <img src="/img/logo.png" class="logo">
        <h2 class="head">Artesanías las Américas.co</h2>
        <img src="/img/check.png" class="user">
        <h2 class="texto">Compras </h2>
        <div class="buscador">
            <img src="/img/buscar.png" width="45px" height="45px" class="lupa">
        </div>
    </div>
    <table>
        <tr>
            <h2 class="title">Compras registradas</h2>
        </tr>
        <tr>
             <th>Codigo</th>
             <th>Fecha</th>
             <th>Valor</th>
             <th>Forma de pago</th>
             <th>Abono</th>
             <th>Pendiente</th>
             <th>Codigo de envio</th>
             <th>Codigo de usuario</th>
             <th>Detalle</th>
        </tr>
        <% compra.forEach(compras => {
         %>
         <tr>
            <td><%=compras.pk_codigo_compra%></td>
            <td><%=compras.fecha_compra%></td>
            <td><%=compras.valor_compra%></td>
            <td><%=compras.forma_pago%></td>
            <td><%=compras.abono%></td>
            <td><%=compras.pendiente%></td>
            <td><%=compras.fk_envio %></td>
            <td><%=compras.fk_usuario %></td>
            <td><a href="/detalle_compra">Ver detalle</a></td>
         </tr>
             <% 
         });
          %>
     </table>
<div class="footer">
    <p class="marca">Desarollado por @DevJs32</p>
    <p class="contactos">Correo: </p>
    <p class="correo"> Artesanias_Americas@gmail.com</p>
    <p class="telefono"> WhatsApp: 3223562765</p>
</div>
</body>
</html>