<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/perfilArtesano.css">
    <title>Perfil</title>
</head>
<body>
    <div class="header"> 
        <img src="/img/logo.png" class="logo">
        <h2 class="head">Artesanías las Américas.co</h2>
        <img src="/img/check.png" class="user">
        <h2 class="texto">Inicio artesano</h2>
    </div>
    <div class="tabla">
    <table>
        <tr>
           <h2 class="title">Perfil</h2>
        </tr>
        <% artesano.forEach (artesano => {
            %>
        <tr>
            <th>Identificacion</th>
            <td><%=artesano.pk_identificacion%></td>
        </tr>
        <tr>
            <th>Nombre</th>
            <td><%=artesano.nombre_user%></td>
        </tr>
        <tr>
            <th>Telefono</th>
            <td><%=artesano.telefono_user%></td>
        </tr>
        <tr> 
            <th>Direccion</th>
            <td><%=artesano.direccion_user%></td>

        </tr>
        <tr>
            <th>Contraseña</th>
            <td><%=artesano.password%></td>
        </tr>
                <% 
            });
             %>
        <tr>
            <td colspan="2"><a href="/actualizar_artesano">Actualizar</a></td>
        </tr>
    </table>
</div>
    <div class="footer">
        <p class="marca">Desarollado por @DevJs32</p>
        <p class="contactos">Correo: </p>
        <p class="correo"> Artesanias_Americas@gmail.com</p>
        <p class="telefono"> WhatsApp: 3223562765</p>
    </div>
</body>
</html>