<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
</head>
<body>
    <header> 
        <h2 class="head">Artesanías las Américas.co</h2>
    </header>
    <section>
    <table>
        <tr>
            <th colspan="6"><h2>Perfil</h2></th>
        </tr>
        <% for (let i=0; i<lista.length;i++) { %>
        <tr>
            <th>Cedula</th>
            <td><%=lista[i].identificacion%></td>
        </tr>
        <tr> 
            <th>Nombre</th>
            <td><%=lista[i].nombre%></td>

        </tr>
        <tr>
            <th>Telefono</th>
            <td><%=lista[i].telefono%></td>
        </tr>
        <tr>
            <th>Tipo de usuario</th>
            <td><%=lista[i].tipo_user%></td>
        </tr>
        <tr>
            <th>Direccion</th>
            <td><%=lista[i].direccion%></td>
        </tr>
        <tr>
            <th>Contraseña</th>
            <td><%=lista[i].contraseña%></td>
        </tr>
            <% } %>
        <tr>
            <td colspan="2"><a href="/actualizar_artesano">Actualizar</a></td>
        </tr>
    </table>
</section>
    <style type="text/css">
        body {
            margin: 0;
            padding: 0;
            font-family: helvetica;
            background-color: #f5d17d;
        }
        header{
            margin: 0 auto;
            background-color: ghostwhite;
            border-radius: 20px;
            width: 90%;
        }
        .head{
            text-align: center;
        }
        section{
             background-color: whitesmoke;
             width: 90%;
             height: 500px;
             margin: 0 auto;
             padding-top: 20px;
             border-radius: 20px;
             text-align: center;
        }
        table{
             margin: 0 auto;
             border: 3px solid black;
             border-radius: 40px;
             padding: 15px;
        }
        a {
            text-decoration: none;
            font-size: 20px;
            font-weight: 800;
            padding: 12px;
            color: black;
            border-radius: 30px;
            margin: 15px;
        }
    </style>
</body>
</html>